.call-stack-viz {
    width: 100%;
    height: 90%;
    position: relative;
    outline: 1px solid black;
}

.call-stack-viz .fail {
    position: absolute;
    top: -50px;
    left: -100px;
    right: 0;
    bottom: 0;
}

.call-stack-viz .error {
    position: absolute;
    top: 200px;
    left: 20px;
    height: 40px;
}

.call-stack-viz .call-stack-label {
    position: absolute;
    left: 56%;
    top: 16%;
}

.call-stack-viz .codes {
    position: absolute;
    left: 5%;
    top: 10%;
    bottom: 5%;
    width: 45%;
    padding: 10px;
}

.call-stack-viz .codes .code {
    font-size: 0.85em;
    width: 100%;
    padding: 5px;
}

.call-stack-viz .codes.on-stack,
.call-stack-viz .codes .code.on-stack {
    outline: 2px solid blue;
}

.call-stack-viz .call-stack {
    position: absolute;
    left: 55%;
    top: 15%;
    outline: 1px solid black;
    width: 40%;
    bottom: 10%;
}

.call-stack-viz .call-stack .call-stack-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.call-stack-viz .call-stack .call-stack-container .call {
    padding: 10px;
    background: yellow;
    margin-top: 10px;
    text-align: center;
}
