

#js-runtime-overview {
    width: 100%;
    height: 90%;
    outline: black solid 1px;
    position: relative;
}

#js-runtime-overview .js-runtime {
    position: absolute;
    top: 7%;
    left: 5%;
    width: 45%;
    height: 60%;
    outline: 1px solid black;
}

#js-runtime-overview .js-runtime-gray {
    position: absolute;
    top: 7%;
    left: 5%;
    width: 45%;
    height: 60%;
    background: rgba(15,15,15,0.6);
}

#js-runtime-overview .js-runtime>div {
    outline: 1px solid black;
}

#js-runtime-overview .js-runtime .heap {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 43%;
    height: 90%;
    text-align: center;
}

#js-runtime-overview .js-runtime .heap .heap-obj {
    position: absolute;
    width: 35px;
    height: 35px;
}

#js-runtime-overview .js-runtime .heap .heap-obj1 {
    background: red;
    left: 15%;
    bottom: 30%;
}

#js-runtime-overview .js-runtime .heap .heap-obj2 {
    background: green;
    left: 45%;
    bottom: 10%;
}

#js-runtime-overview .js-runtime .heap .heap-obj3 {
    background: blue;
    left: 65%;
    bottom: 55%;
}

#js-runtime-overview .js-runtime .stack {
    position: absolute;
    top: 5%;
    left: 52%;
    width: 45%;
    height: 90%;
    text-align: center;
}

#js-runtime-overview .js-runtime .stack .stack-obj-container {
    position: absolute;
    bottom: 2%;
    left: 5%;
    right: 5%;
}

#js-runtime-overview .js-runtime .stack .stack-obj-container .stack-obj {
    padding: 10px;
    margin-top: 5%;
    background: yellow;
}

#js-runtime-overview .event-loop {
    position: absolute;
    width: 10%;
    top: 68%;
    left: 33%;
}

#js-runtime-overview .callback-queue {
    position: absolute;
    outline: black solid 1px;
    top: 85%;
    bottom: 2%;
    left: 34%;
    right: 12%;
    padding: 1%;
}

#js-runtime-overview .callback-queue .callback {
    display: inline-block;
    background: yellow;
    padding: 4%;
}

#js-runtime-overview .external-apis {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 35%;
    text-align: center;
}

#js-runtime-overview .external-apis .api {
    padding: 10px;
    background: orange;
    margin-bottom: 10px
}

#js-runtime-overview .event-loop-label {
    position: absolute;
    top: 72%;
    left: 14%;
}

#js-runtime-overview .callback-queue-label {
    position: absolute;
    top: 90%;
    left: 12%;
}

#js-runtime-overview .js-runtime-label {
    position: absolute;
    top: 2%;
    left: 5%;
}

#js-runtime-overview .external-apis-label {
    position: absolute;
    top: 7%;
    left: 69%;
}
