

.js-runtime-viz {
    width: 100%;
    height: 95%;
    position: relative;
    outline: 1px solid black;
}

.js-runtime-viz .request {
    position: absolute;
    top: 30px;
    left: 70px;
}

.js-runtime-viz .fail {
    position: absolute;
    top: -50px;
    left: -100px;
}

.js-runtime-viz .unresponsive {
    position: absolute;
    top: 150px;
    left: 200px;
}

.js-runtime-viz .codes {
    position: absolute;
    left: 2%;
    top: 2%;
    bottom: 30%;
    right: 55%;
    font-size: 0.85em;
    font-family: monospace;
}

.js-runtime-viz .call-stack {
    position: absolute;
    left: 46%;
    top: 2%;
    bottom: 30%;
    right: 27%;
    outline: 1px solid black;
}

.js-runtime-viz .external-apis {
    position: absolute;
    left: 74%;
    top: 2%;
    bottom: 30%;
    right: 2%;
    outline: 1px solid black;
}

.js-runtime-viz .event-loop {
    position: absolute;
    left: 46%;
    top: 74%;
    width: 7%;
}

.js-runtime-viz .console {
    position: absolute;
    left: 2%;
    top: 72%;
    width: 40%;
    bottom: 2%;
    outline: 1px solid black;
    font-size: 12px;
}

.js-runtime-viz .callback-queue {
    position: absolute;
    left: 46%;
    top: 85%;
    right: 2%;
    bottom: 7%;
    outline: 1px solid black;
    padding: 10px;
}

.js-runtime-viz .call-stack-label {
    position: absolute;
    left: 47%;
    top: 2%;
}

.js-runtime-viz .external-apis-label {
    position: absolute;
    left: 75%;
    top: 2%;
}

.js-runtime-viz .console-label {
    position: absolute;
    left: 3%;
    top: 70%;
}


.js-runtime-viz .callback-queue-label {
    position: absolute;
    left: 55%;
    top: 80%;
}

.js-runtime-viz .call-stack .call-stack-container,
.js-runtime-viz .external-apis .api-container {
    position: absolute;
    bottom: 2%;
    left: 2%;
    right: 2%;
}

.js-runtime-viz .call-stack .call-stack-container .call,
.js-runtime-viz .external-apis .api-container .api {
    padding: 10px;
    background: yellow;
    font-size: 0.65em;
    text-align: center;
    margin-top: 5px;
}

.js-runtime-viz .external-apis .api-container .api .cb {
    background: white;
    text-align: center;
    padding: 5px;
    margin-top: 2px;
}

.js-runtime-viz .callback-queue .cb {
    background: yellow;
    text-align: center;
    padding: 5px;
    display: inline-block;
    height: 90%;
    vertical-aline: middle;
}
